.custom-row {
    background-color: #ffffff; /* Default row background color */
  }
  
  .custom-row-even {
    background-color: #ffffff; /* Even row background color */
  }
  
  .custom-row-odd {
    background-color: #fafafa54; /* Odd row background color */
  }